<nav class="navbar navbar-expand-lg ">
  <div class="container justify-content-center">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav nn">
        <li class="nav-item" >
          <a class="nav-link head" [class.active-link]="isActive('todos')" [routerLink]="['todos']">All Todos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link head" [class.active-link]="isActive('pending-todos')" [routerLink]="['pending-todos']">Pending Todos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link head" [class.active-link]="isActive('deleted-todos')" [routerLink]="['deleted-todos']">Deleted Todos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
